<!DOCTYPE html>
<html>
	<head>
	  <title>Demo Authentication</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	  <div id="main-container" class="container" >

 	  	<div class="row">
 	  		<div class="col-xs-2"></div>
 	  		<div id ="header" class="col-xs-8">
 	    		<h2>Demo Authentication System</h2>
 	    	</div>
 	    	<div id ="header-actions" class="col-xs-2 text-right">
	    		<%= render partial: "shared/nav_links" %>
 	    	</div>
 	    </div>	

 	    <div class="row">
 	    	<div class="col-xs-2"></div>
 	    	<div class="col-xs-8">
 	    	  <% if notice %>	
 	  		    <p class="alert alert-warning"><%= notice %></p>
 	  		  <% end %>
 	  		  <% if alert %>
  	      	    <p class="alert alert-danger"><%= alert %></p> 	  	 	  	
  	      	  <% end %>
 	  		  <%= yield %>
 	  		</div>
 	  		<div class="col-xs-2"></div> 	  		
 	  	</div> 	  	

	  </div>
	</body>
</html>
